body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238, 212, 63) !important;
}

.box-wrapper {
  background-color: rgb(41, 41, 121);
  padding: 13px;
  border: 1px solid rgb(80, 80, 180);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  height: 600px;
  width: 1300px;
  overflow: auto;
}

h1,
h4 {
  color: rgb(238, 212, 63) !important;
}

h1 {
  font-size: 70px !important;
}

button {
  background-color: rgb(41, 41, 121);
  color: rgb(238, 212, 63) !important;
  padding: 10px 30px;
  border: 1px solid rgb(238, 212, 63);
  border-radius: 10px !important; 
}

.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: rgb(13, 13, 88);
}

.answer-btn {
  margin: 15px;
  width: 250px;
  height: 60px;
  display: flex;
  align-tracks: center;
  justify-content: center;
} 

.answer-btn.no-hover.correct:hover {
  background-color: rgb(47, 243, 47);
}

.answer-btn.no-hover.wrong:hover {
  background-color: red;
}

#nextButton {
  margin-top: 150px;
  padding: 20px 100px;
}

#startButton {
  margin-top: 150px;
  padding: 50px 200px;
  font-size: 50px;
  border: 5px solid rgb(238, 212, 63);
}

.correct {
  background-color: rgb(47, 243, 47);
  color: black !important;
}

.wrong {
  background-color: red;
  color: black !important;
}

.selected {
  border: 3px solid rgb(238, 212, 63);
}

.hide {
  display: none;
}
