body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238, 212, 63) !important;
}

.box-wrapper {
  background-color: rgb(41, 41, 121);
  padding: 100px;
  border: 1px solid rgb(80, 80, 180);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}

.hide {
  display: none;
}

h1,
h4 {
  color: rgb(238, 212, 63) !important;
}

h1 {
  font-size: 100px !important;
}

button {
  background-color: rgb(41, 41, 121);
  color: rgb(238, 212, 63) !important;
  padding: 10px 30px;
  border: 1px solid rgb(238, 212, 63);
  border-radius: 10px !important; 
  }

button:hover {
  background-color: rgb(13, 13, 88);
}

.answer-btn {
  margin: 10px;
  padding: 20px 100px;
  display: none;
} 

.correct {
  background-color: rgb(47, 243, 47);
  color: black !important;
}

.wrong {
  background-color: red;
  color: black !important;
}
